:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1440px;
  height: 2728px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.frame {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 100px;
  position: relative;
  width: 1071px;
  margin: 17px 0 0 185px;
  z-index: 13;
}
.frame-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 130.515px;
  z-index: 14;
}
.logo {
  flex-shrink: 0;
  position: relative;
  width: 77px;
  height: 48px;
  z-index: 15;
}
.spt {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 48px;
  top: 0;
  left: 0;
  font-family: Young Serif, var(--default-font-family);
  font-size: 35px;
  font-weight: 400;
  line-height: 48px;
  text-align: left;
  white-space: nowrap;
  background: linear-gradient(145.75deg, #a2f5ff, #47c6d4);
  z-index: 16;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.frame-2 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 45px;
  position: relative;
  width: 577.227px;
  z-index: 17;
}
.group {
  flex-shrink: 0;
  position: relative;
  width: 59px;
  height: 30px;
  z-index: 18;
}
.home {
  position: absolute;
  width: 59px;
  height: 30px;
  top: 0;
  left: 0;
  z-index: 19;
}
.home-3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 20;
}
.group-4 {
  flex-shrink: 0;
  position: relative;
  width: 109.227px;
  height: 30px;
  z-index: 21;
}
.line {
  position: relative;
  width: 106px;
  height: 2px;
  margin: 24px 0 0 1.484px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-06-10/x1wEGaVuzp.png)
    no-repeat center;
  background-size: cover;
  z-index: 24;
}
.about-spark {
  position: absolute;
  width: 109.227px;
  height: 30px;
  top: 0;
  left: 0;
  z-index: 22;
}
.about-spt-5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 23;
}
.group-6 {
  flex-shrink: 0;
  position: relative;
  width: 144px;
  height: 30px;
  z-index: 25;
}
.our-product {
  position: absolute;
  width: 144px;
  height: 30px;
  top: 0;
  left: 0;
  z-index: 26;
}
.our-product-7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 27;
}
.group-8 {
  flex-shrink: 0;
  position: relative;
  width: 130px;
  height: 30px;
  z-index: 28;
}
.contact-us {
  position: absolute;
  width: 130px;
  height: 30px;
  top: 0;
  left: 0;
  z-index: 29;
}
.contact-us-9 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 30;
}
.frame-a {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 15px;
  position: relative;
  width: 163px;
  z-index: 31;
}
.log {
  flex-shrink: 0;
  position: relative;
  width: 74px;
  height: 28px;
  z-index: 32;
}
.frame-b {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 10px 10px 10px 10px;
  background: #d0d0d0;
  z-index: 33;
  border-radius: 15px;
}
.login {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 34;
}
.log-c {
  flex-shrink: 0;
  position: relative;
  width: 74px;
  height: 28px;
  z-index: 35;
}
.frame-d {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 10px 10px 10px 10px;
  background: #d0d0d0;
  z-index: 36;
  border-radius: 15px;
}
.register {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 37;
}
.about-spt-e {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 331px;
  height: 82px;
  margin: 73px 0 0 90px;
  color: #ffffff;
  font-family: Open Sans, var(--default-font-family);
  font-size: 60px;
  font-weight: 700;
  line-height: 81.709px;
  text-align: center;
  white-space: nowrap;
  z-index: 2;
}
.customer-satisfaction {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 908px;
  height: 72px;
  margin: 50px 0 0 90px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  text-overflow: initial;
  z-index: 3;
  overflow: hidden;
}
.rectangle {
  position: relative;
  width: 1440px;
  height: 81px;
  margin: 28px 0 0 0;
  background: #eaeaea;
  z-index: 4;
  overflow: visible auto;
}
.home-product {
  position: relative;
  width: 189px;
  height: 27px;
  margin: 28px 0 0 90px;
  font-family: Open Sans, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 5;
}
.home-f {
  position: relative;
  color: #757575;
  font-family: Open Sans, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 27.236px;
  text-align: center;
}
.space {
  position: relative;
  color: #000000;
  font-family: Open Sans, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 27.236px;
  text-align: center;
}
.slash {
  position: relative;
  color: rgba(0, 0, 0, 0.5);
  font-family: Open Sans, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 27.236px;
  text-align: center;
}
.our-product-10 {
  position: relative;
  color: #000000;
  font-family: Open Sans, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 27.236px;
  text-align: center;
}
.frame-11 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 60px;
  position: relative;
  width: 1440px;
  margin: 74px 0 0 0;
  z-index: 44;
}
.frame-12 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 19px;
  position: relative;
  width: 320px;
  height: 325px;
  padding: 10px 10px 10px 10px;
  background: #f6f6f6;
  z-index: 45;
  border-radius: 12px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.dbf-ceaaace {
  flex-shrink: 0;
  position: relative;
  width: 300px;
  height: 287px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-06-10/DKTg8za07P.png)
    no-repeat center;
  background-size: cover;
  z-index: 46;
  border-radius: 10px;
}
.line-13 {
  flex-shrink: 0;
  position: relative;
  width: 143px;
  height: 2px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-06-10/UTzDKd1SMM.png)
    no-repeat center;
  background-size: cover;
  z-index: 47;
}
.frame-14 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 19px;
  position: relative;
  width: 320px;
  height: 325px;
  padding: 10px 10px 10px 10px;
  background: #f6f6f6;
  z-index: 48;
  border-radius: 12px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.dbf-ceaaace-15 {
  flex-shrink: 0;
  position: relative;
  width: 300px;
  height: 287px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-06-10/cVxJcnnf7D.png)
    no-repeat center;
  background-size: cover;
  z-index: 49;
  border-radius: 10px;
}
.line-16 {
  flex-shrink: 0;
  position: relative;
  width: 143px;
  height: 2px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-06-10/kS5cJAm745.png)
    no-repeat center;
  background-size: cover;
  z-index: 50;
}
.frame-17 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 19px;
  position: relative;
  width: 320px;
  height: 325px;
  padding: 10px 10px 10px 10px;
  background: #f6f6f6;
  z-index: 51;
  border-radius: 12px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.dbf-ceaaace-18 {
  flex-shrink: 0;
  position: relative;
  width: 300px;
  height: 287px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-06-10/4q11MA9qrh.png)
    no-repeat center;
  background-size: cover;
  z-index: 52;
  border-radius: 10px;
}
.line-19 {
  flex-shrink: 0;
  position: relative;
  width: 143px;
  height: 2px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-06-10/EMTJLzwkY8.png)
    no-repeat center;
  background-size: cover;
  z-index: 53;
}
.spt-1a {
  display: block;
  position: relative;
  height: 48px;
  margin: 68px 0 0 681px;
  color: #000000;
  font-family: Young Serif, var(--default-font-family);
  font-size: 35px;
  font-weight: 400;
  line-height: 48px;
  text-align: left;
  white-space: nowrap;
  z-index: 11;
}
.line-1b {
  position: relative;
  width: 143px;
  height: 2px;
  margin: 4px 0 0 650px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-06-10/q6TbLjm2YU.png)
    no-repeat center;
  background-size: cover;
  z-index: 6;
}
.sahabat-pakan-ternak {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 1260px;
  height: 280px;
  margin: 21px 0 0 90px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 23px;
  font-weight: 400;
  line-height: 34.5px;
  text-align: center;
  z-index: 7;
}
.website-sahabat-pakan-ternak {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 1260px;
  height: 175px;
  margin: 32px 0 0 90px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 23px;
  font-weight: 400;
  line-height: 34.5px;
  text-align: center;
  z-index: 8;
}
.gudang-pakan {
  position: relative;
  width: 541px;
  height: 309px;
  margin: 32px 0 0 450px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-06-10/m9ZCT7bcNQ.png)
    no-repeat center;
  background-size: cover;
  z-index: 12;
  border-radius: 160px 10px 160px 10px;
}
.frame-1c {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 49px;
  position: relative;
  width: 1440px;
  margin: 68px 0 0 2px;
  z-index: 54;
}
.frame-1d {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 569px;
  height: 225px;
  background: #f1f1f1;
  z-index: 55;
  border-radius: 10px;
}
.frame-1e {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  position: relative;
  min-width: 0;
  min-height: 0;
  padding: 10px 10px 10px 10px;
  z-index: 56;
}
.frame-1f {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 93px;
  padding: 10px 10px 10px 10px;
  border-top: 2px solid #000000;
  z-index: 57;
}
.visi {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 60px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
  white-space: nowrap;
  z-index: 58;
}
.beyond-no-everyday {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  position: relative;
  width: 549px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 23px;
  font-weight: 400;
  line-height: 34.5px;
  text-align: center;
  z-index: 59;
}
.frame-20 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 569px;
  height: 225px;
  background: #f1f1f1;
  z-index: 60;
  border-radius: 10px;
}
.frame-21 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  position: relative;
  min-width: 0;
  min-height: 0;
  padding: 10px 10px 10px 10px;
  z-index: 61;
}
.frame-22 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 101px;
  padding: 10px 10px 10px 10px;
  border-top: 2px solid #000000;
  z-index: 62;
}
.misi {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 60px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
  white-space: nowrap;
  z-index: 63;
}
.memimpin-industri-peternakan {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  position: relative;
  width: 549px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 23px;
  font-weight: 400;
  line-height: 34.5px;
  text-align: center;
  z-index: 64;
}
.rectangle-23 {
  position: relative;
  width: 1440px;
  height: 535px;
  margin: 79px 0 0 0;
  background: #114b5b;
  z-index: 66;
  overflow: visible auto;
}
.flex-row-fc {
  position: relative;
  width: 585px;
  height: 353px;
  margin: 75.002px 0 0 90px;
  font-size: 0px;
  z-index: 71;
  overflow: visible auto;
}
.spt-24 {
  display: block;
  position: relative;
  height: 48px;
  margin: 0 0 0 0;
  color: #ffffff;
  font-family: Young Serif, var(--default-font-family);
  font-size: 35px;
  font-weight: 400;
  line-height: 48px;
  text-align: left;
  white-space: nowrap;
  z-index: 71;
}
.tentang-spt {
  display: block;
  position: relative;
  height: 28px;
  margin: 31.998px 0 0 0.21px;
  color: #ffffff;
  font-family: Young Serif, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  white-space: nowrap;
  z-index: 69;
}
.perusahaan-peternakan-terintegrasi {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 585px;
  height: 238px;
  margin: 7px 0 0 0;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 25px;
  font-weight: 400;
  line-height: 37.5px;
  text-align: left;
  text-overflow: initial;
  z-index: 68;
  overflow: hidden;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 32px;
  position: absolute;
  width: 585px;
  height: 353px;
  top: 0;
  left: 0;
  z-index: 38;
}
.logo-25 {
  flex-shrink: 0;
  position: relative;
  width: 77px;
  height: 48px;
  z-index: 39;
}
.spt-26 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 48px;
  top: 0;
  left: 0;
  color: #ffffff;
  font-family: Young Serif, var(--default-font-family);
  font-size: 35px;
  font-weight: 400;
  line-height: 48px;
  text-align: left;
  white-space: nowrap;
  z-index: 40;
}
.group-27 {
  flex-shrink: 0;
  position: relative;
  width: 585px;
  height: 273px;
  font-size: 0px;
  z-index: 41;
}
.tentang-spt-28 {
  display: block;
  position: relative;
  height: 28px;
  margin: 0 0 0 0.21px;
  color: #ffffff;
  font-family: Young Serif, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  white-space: nowrap;
  z-index: 43;
}
.perusahaan-peternakan-terintegrasi-29 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 585px;
  height: 238px;
  margin: 7px 0 0 0;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 25px;
  font-weight: 400;
  line-height: 37.5px;
  text-align: left;
  text-overflow: initial;
  z-index: 42;
  overflow: hidden;
}
.frame-2a {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 45px;
  position: relative;
  width: 577.242px;
  margin: 14.998px 0 0 797px;
  z-index: 72;
}
.group-2b {
  flex-shrink: 0;
  position: relative;
  width: 59px;
  height: 30px;
  z-index: 73;
}
.home-2c {
  position: absolute;
  width: 59px;
  height: 30px;
  top: 0;
  left: 0;
  z-index: 74;
}
.home-2d {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 75;
}
.group-2e {
  flex-shrink: 0;
  position: relative;
  width: 109.242px;
  height: 30px;
  z-index: 76;
}
.about-spark-2f {
  position: absolute;
  width: 109.242px;
  height: 30px;
  top: 0;
  left: 0;
  z-index: 77;
}
.about-spark-30 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 78;
}
.group-31 {
  flex-shrink: 0;
  position: relative;
  width: 144px;
  height: 30px;
  z-index: 79;
}
.our-product-32 {
  position: absolute;
  width: 144px;
  height: 30px;
  top: 0;
  left: 0;
  z-index: 80;
}
.our-product-33 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 81;
}
.group-34 {
  flex-shrink: 0;
  position: relative;
  width: 130px;
  height: 30px;
  z-index: 82;
}
.contact-us-35 {
  position: absolute;
  width: 130px;
  height: 30px;
  top: 0;
  left: 0;
  z-index: 83;
}
.contact-us-36 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 84;
}
.aerial-view-factory {
  position: absolute;
  width: 1440px;
  height: 1079px;
  top: -667px;
  left: 0;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-06-10/EoEvWOdgON.png)
    no-repeat center;
  background-size: cover;
}
.rectangle-37 {
  position: absolute;
  width: 1440px;
  height: 547px;
  top: 0;
  left: 0;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-06-10/mRmORTN5G0.png)
    no-repeat center;
  background-size: cover;
  z-index: 1;
}
