.contactus-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.contactuscontactus {
  width: 100%;
  height: 1928px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.contactus-gudangpakan2 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 370px;
  position: absolute;
}
 
.contactus-rectangle33 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 487px;
  position: absolute;
}
 
.contactus-text10 {
  top: 152px;
  left: 90px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Bold;
  text-align: center;
  font-family: Open Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.contactus-text11 {
  top: 270px;
  left: 90px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.contactus-rectangle362 {
  top: 370px;
  left: 0px;
  width: 1440px;
  height: 81px;
  position: absolute;
}
 
.contactus-text15 {
  top: 397px;
  left: 90px;
  color: rgba(117, 117, 117, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.contactus-text16 {
  color: rgba(117, 117, 117, 1);
}
 
.contactus-frame832 {
  gap: 15px;
  top: 1149px;
  left: 90px;
  width: 127px;
  display: flex;
  position: absolute;
  align-items: center;
}
 
.contactus-frame831 {
  width: 28px;
  height: 28px;
}
 
.contactus-text18 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.contactus-text19 {
  color: var(--dl-color-default-black);
  font-weight: 600;
}
 
.contactus-frame836 {
  gap: 15px;
  top: 1149px;
  left: 287px;
  width: 127px;
  display: flex;
  position: absolute;
  align-items: center;
}
 
.contactus-frame835 {
  width: 28px;
  height: 28px;
}
 
.contactus-text22 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.contactus-text23 {
  color: var(--dl-color-default-black);
  font-weight: 600;
}
 
.contactus-frame834 {
  gap: 15px;
  top: 1149px;
  left: 484px;
  width: 178px;
  display: flex;
  position: absolute;
  align-items: center;
}
 
.contactus-frame833 {
  width: 28px;
  height: 28px;
}
 
.contactus-text26 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.contactus-text27 {
  color: var(--dl-color-default-black);
  font-weight: 600;
}
 
.contactus-gudangpakan5 {
  top: 585px;
  left: 752px;
  width: 598px;
  height: 604px;
  position: absolute;
  border-radius: 130px 10px;
}
 
.contactus-frame3896 {
  gap: 100px;
  top: 17px;
  left: 0px;
  width: 1440px;
  display: flex;
  position: absolute;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5) ;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.contactus-frame3634 {
  gap: 10px;
  width: 130.51544189453125px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contactus-logo1 {
  width: 77px;
  height: 48px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.contactus-frame36171 {
  gap: 45px;
  display: flex;
  align-items: center;
}
 
.contactus-group36351 {
  width: 59px;
  height: 30px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.contactushome11 {
  top: 0px;
  left: 0px;
  width: 59px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.contactus-text30 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.contactus-group36361 {
  width: 109px;
  height: 30px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.contactusaboutspark11 {
  top: 0px;
  left: 0px;
  width: 109.484375px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.contactus-text31 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.contactus-group36371 {
  width: 144px;
  height: 30px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.contactusourproduct11 {
  top: 0px;
  left: 0px;
  width: 144px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.contactus-text32 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.contactus-group36381 {
  width: 130px;
  height: 30px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.contactuscontactus11 {
  top: 0px;
  left: 0px;
  width: 130px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.contactus-text33 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.contactus-line17 {
  top: 26px;
  left: 1px;
  width: 127px;
  height: 1px;
  position: absolute;
}
 
.contactus-frame3862 {
  gap: 15px;
  display: flex;
  align-items: center;
}
 
.contactus-log1 {
  width: 74px;
  height: 28px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.contactus-frame36461 {
  gap: 10px;
  top: 0px;
  left: 0px;
  width: 74px;
  height: 28px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 15px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
 
.contactus-text34 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.contactus-log2 {
  width: 74px;
  height: 28px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.contactus-frame36462 {
  gap: 10px;
  top: 0px;
  left: 0px;
  width: 74px;
  height: 28px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 15px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
 
.contactus-text35 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.contactusspt {
  gap: 40px;
  top: 611px;
  left: 90px;
  width: 572px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contactus-group239209 {
  width: 616px;
  height: 216px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.contactus-text36 {
  color: rgba(51, 170, 183, 1);
  height: auto;
  position: absolute;
  font-size: 54px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.contactus-text37 {
  color: rgba(51, 170, 183, 1);
}
 
.contactus-text40 {
  top: 168px;
  color: rgba(0, 0, 0, 1);
  width: 545px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.contactus-group239208 {
  width: 545px;
  height: 260px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.contactus-button {
  gap: 10px;
  top: 210px;
  left: 0px;
  width: 545px;
  height: 50px;
  display: flex;
  padding: 12px 24px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5px;
  justify-content: center;
  background-color: rgba(38, 38, 38, 1);
}
 
.contactus-text41 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 15px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.contactus-textfield {
  gap: 10px;
  top: 0px;
  left: 0px;
  width: 545px;
  height: 50px;
  display: flex;
  padding: 12px 20px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(224, 224, 224, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}
 
.contactus-text42 {
  color: var(--dl-color-default-gray3);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.contactus-email {
  gap: 10px;
  top: 70px;
  left: 0px;
  width: 545px;
  height: 50px;
  display: flex;
  padding: 12px 20px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(224, 224, 224, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}
 
.contactus-text43 {
  color: var(--dl-color-default-gray3);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.contactustlp {
  gap: 10px;
  top: 140px;
  left: 0px;
  width: 545px;
  height: 50px;
  display: flex;
  padding: 12px 20px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(224, 224, 224, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}
 
.contactus-text44 {
  color: var(--dl-color-default-gray3);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.contactus-group239252 {
  top: 1393px;
  left: 0px;
  width: 1440px;
  height: 535px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.contactus-footer {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 535px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(17, 75, 91, 1);
}
 
.contactus-group239250 {
  top: 155px;
  left: 90px;
  width: 585px;
  height: 273px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.contactus-text45 {
  top: 35px;
  color: rgba(255, 255, 255, 1);
  width: 585px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.contactus-text57 {
  left: 0.212890625px;
  color: rgba(255, 255, 255, 1);
  width: 141px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Young Serif;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.contactus-logo2 {
  top: 75.001953125px;
  left: 90px;
  width: 77px;
  height: 48px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.contactus-text58 {
  color: rgba(255, 255, 255, 1);
  width: 77px;
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Regular;
  text-align: left;
  font-family: Young Serif;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.contactus-frame36172 {
  gap: 45px;
  top: 443px;
  left: 797px;
  display: flex;
  position: absolute;
  align-items: center;
}
 
.contactus-group36352 {
  width: 59px;
  height: 30px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.contactushome12 {
  top: 0px;
  left: 0px;
  width: 59px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.contactus-text59 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.contactus-group36362 {
  width: 109px;
  height: 30px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.contactusaboutspark12 {
  top: 0px;
  left: 0px;
  width: 109.24224853515625px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.contactus-text60 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.contactus-group36372 {
  width: 144px;
  height: 30px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.contactusourproduct12 {
  top: 0px;
  left: 0px;
  width: 144px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.contactus-text61 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.contactus-group36382 {
  width: 130px;
  height: 30px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.contactuscontactus12 {
  top: 0px;
  left: 0px;
  width: 130px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.contactus-text62 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.contactus-group239258 {
  top: 1547px;
  left: 1086px;
  width: 200px;
  height: 228px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.contactus-rectangle6732 {
  top: 0px;
  left: 0px;
  width: 200px;
  height: 190px;
  position: absolute;
  border-radius: 5px;
}
 
.contactusimage1742299df450402e9dbd1b53c54d30ef1 {
  top: 18px;
  left: 23px;
  width: 153px;
  height: 153px;
  position: absolute;
}
 
.contactus-text63 {
  top: 192px;
  left: 48px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}