.home1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.home1home11 {
  width: 100%;
  height: 2891px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.home1-gudangpakan2 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 775px;
  position: absolute;
}
 
.home1pppppppppp {
  gap: 10px;
  top: 1455px;
  left: -10px;
  width: 1460px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home1-rectangle6733 {
  width: auto;
  height: 20px;
  align-self: stretch;
}
 
.home1-rectangle33 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 932px;
  position: absolute;
}
 
.home1image573a4bc9dbf946688e6bce2aa53ac25e1 {
  top: 1191.90625px;
  left: 303.8115234375px;
  width: 222px;
  height: 258px;
  position: absolute;
  border-radius: 10px 160px;
}
 
.home1image37b533e02791420b95e6f5f56f76c0f01 {
  top: 1190px;
  left: 90px;
  width: 170px;
  height: 302px;
  position: absolute;
  border-radius: 90px 10px;
}
 
.home1-gudangpakan4 {
  top: 887px;
  left: 90px;
  width: 423px;
  height: 277px;
  position: absolute;
  border-radius: 160px 10px;
}
 
.home1-text10 {
  top: 940px;
  left: 713.787109375px;
  color: rgba(99, 213, 225, 1);
  width: 464px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home1-rectangle392 {
  top: 1546px;
  left: -0.212890625px;
  width: 1440px;
  height: 567px;
  position: absolute;
}
 
.home1-rectangle391 {
  top: 11574px;
  left: 13646px;
  width: 1440px;
  height: 744px;
  position: absolute;
}
 
.home1-frame3892 {
  gap: 100px;
  top: 20px;
  left: 185px;
  width: 1071px;
  display: flex;
  position: absolute;
  align-items: center;
}
 
.home1-frame3634 {
  gap: 10px;
  width: 130.51544189453125px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home1-logo1 {
  width: 77px;
  height: 48px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.home1-frame36171 {
  gap: 45px;
  display: flex;
  align-items: center;
}
 
.home1-group36351 {
  width: 59px;
  height: 30px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.home1home12 {
  top: 0px;
  left: 0px;
  width: 59px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home1-text11 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home1-line17 {
  top: 26px;
  left: 1.484375px;
  width: 56px;
  height: 1px;
  position: absolute;
}
 
.home1-group36361 {
  width: 109px;
  height: 30px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.home1aboutspark11 {
  top: 0px;
  left: 0px;
  width: 109.24224853515625px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home1-text12 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home1-group36371 {
  width: 144px;
  height: 30px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.home1ourproduct11 {
  top: 0px;
  left: 0px;
  width: 144px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home1-text13 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home1-group36381 {
  width: 130px;
  height: 30px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.home1contactus11 {
  top: 0px;
  left: 0px;
  width: 130px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home1-text14 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home1-frame3862 {
  gap: 15px;
  display: flex;
  align-items: center;
}
 
.home1-log1 {
  width: 74px;
  height: 28px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home1-frame36461 {
  gap: 10px;
  top: 0px;
  left: 0px;
  width: 74px;
  height: 28px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 15px;
  justify-content: center;
  background-color: rgba(208, 208, 208, 1);
}
 
.home1-text15 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home1-log2 {
  width: 74px;
  height: 28px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home1-frame36462 {
  gap: 10px;
  top: 0px;
  left: 0px;
  width: 74px;
  height: 28px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 15px;
  justify-content: center;
  background-color: rgba(208, 208, 208, 1);
}
 
.home1-text16 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home1-text17 {
  top: 290px;
  left: 534px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home1-download1 {
  top: 3885px;
  left: 4278px;
  width: 1153px;
  height: 1440px;
  position: absolute;
}
 
.home1-text21 {
  top: 2167px;
  left: 190.787109375px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home1-group239251 {
  top: 2356px;
  left: -0.212890625px;
  width: 1440px;
  height: 535px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.home1-footer {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 535px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(17, 75, 91, 1);
}
 
.home1-group239250 {
  top: 155px;
  left: 90px;
  width: 585px;
  height: 273px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.home1-text27 {
  top: 35px;
  color: rgba(255, 255, 255, 1);
  width: 585px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home1-text39 {
  left: 0.212890625px;
  color: rgba(255, 255, 255, 1);
  width: 141px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Young Serif;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home1-logo2 {
  top: 75.001953125px;
  left: 90px;
  width: 77px;
  height: 48px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.home1-text40 {
  color: rgba(255, 255, 255, 1);
  width: 77px;
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Regular;
  text-align: left;
  font-family: Young Serif;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home1-frame36172 {
  gap: 45px;
  top: 443px;
  left: 797px;
  display: flex;
  position: absolute;
  align-items: center;
}
 
.home1-group36352 {
  width: 59px;
  height: 30px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.home1home13 {
  top: 0px;
  left: 0px;
  width: 59px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home1-text41 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home1-group36362 {
  width: 109px;
  height: 30px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.home1aboutspark12 {
  top: 0px;
  left: 0px;
  width: 109.24224853515625px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home1-text42 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home1-group36372 {
  width: 144px;
  height: 30px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.home1ourproduct12 {
  top: 0px;
  left: 0px;
  width: 144px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home1-text43 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home1-group36382 {
  width: 130px;
  height: 30px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.home1contactus12 {
  top: 0px;
  left: 0px;
  width: 130px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home1-text44 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home1-text45 {
  top: 1048px;
  left: 597px;
  color: rgba(0, 0, 0, 1);
  width: 753px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home1-pakan {
  gap: 130px;
  top: 1594px;
  left: -62.212890625px;
  width: 1564px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home1-frame239249 {
  gap: 120px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.home1-frame239242 {
  gap: 10px;
  width: 70px;
  display: flex;
  padding: 10px;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12px;
  flex-direction: column;
  background-color: rgba(99, 213, 225, 1);
}
 
.home1-frame2392401 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-self: stretch;
  box-shadow: 0px 4px 21px 0px rgba(0, 0, 0, 0.5400000214576721) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 0 0 2px;
  justify-content: center;
}
 
.home1-text50 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 22px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home1-frame239244 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: flex-start;
  border-radius: 12px;
  flex-direction: column;
  background-color: rgba(99, 213, 225, 1);
}
 
.home1-frame2392402 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.home1-text51 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 22px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home1-frame239245 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: flex-start;
  border-radius: 12px;
  flex-direction: column;
  background-color: rgba(99, 213, 225, 1);
}
 
.home1-frame2392403 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.home1-text52 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 22px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home1-frame239266 {
  gap: 80px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.home1-jadi {
  gap: 7px;
  width: 219px;
  height: 266px;
  display: flex;
  padding: 17px 34px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  flex-direction: column;
  background-color: rgba(228, 228, 228, 1);
}
 
.home1-chat-gpt-image-apr182025093927pm4 {
  width: 150px;
  height: 200px;
  border-radius: 5px;
}
 
.home1-text53 {
  color: rgba(0, 0, 0, 1);
  width: 139px;
  height: auto;
  font-size: 13px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home1-biskiit {
  gap: 7px;
  width: 219px;
  height: 267px;
  display: flex;
  padding: 17px 10px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(224, 224, 224, 1);
}
 
.home1-whats-app-image20250517at0857132 {
  width: 150px;
  height: 200px;
  border-radius: 5px;
}
 
.home1-text54 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home1-susu {
  gap: 7px;
  width: 219px;
  height: 267px;
  display: flex;
  padding: 17px 10px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(224, 224, 224, 1);
}
 
.home1-roundedrectangle {
  width: 150px;
  height: 200px;
  border-radius: 5px;
}
 
.home1-text55 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 15px;
  align-self: stretch;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home1-polar {
  gap: 7px;
  width: 219px;
  height: 267px;
  display: flex;
  padding: 17px 10px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(224, 224, 224, 1);
}
 
.home1-whats-app-image20250517at0857154 {
  width: 150px;
  height: 200px;
  border-radius: 5px;
}
 
.home1-text56 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  align-self: stretch;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}